
input {
    width:100%;
    height: 48px;
    padding: 9px 16px;
    border-radius: 6px;
    display: block;
    position: relative;
    color: var(--text);
    font-size: 1rem;
    border: 1px solid var(--color-light-grey);
    background: var(--background);
    transition: all .3s ease;

    &:focus{
        border-color: var(--color-dark-blue);
        outline: none;
    }
}

input[type=number]{
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button{
  -webkit-appearance: none;
}

fieldset{border-radius: 6px;}




// **************************
//          DROPDOWN
// **************************

.dropdown {
    --max-scroll: 8;
    --text: var(--color-dark-blue);
    --border: var(--color-light-grey);
    --borderActive: var(--color-dark-blue);
    --background: #fff;
    --arrow: var(--color-light-grey);
    --arrowActive: var(--color-dark-blue);
    --listText:  var(--color-medium-grey);
    --listBackground: #fff;
    --listActive: var(--color-white-blue);
    --listTextActive: var(--color-dark-blue);
    --listBorder: var(--color-lighter-grey);
    --textFilled: var(--color-dark-blue);

    width: 220px;
    position: relative;
    select {
        display: none;
    }
    & > span {
        cursor: pointer;
        padding: 9px 16px;
        border-radius: 6px;
        display: block;
        position: relative;
        color: var(--text);
        border: 1px solid var(--border);
        background: var(--background);
        transition: all .2s ease;
        &:before,
        &:after {
            content: '';
            display: block;
            position: absolute;
            width: 8px;
            height: 2px;
            border-radius: 1px;
            top: 50%;
            right: 15px;
            background: var(--arrow);
            transition: all .2s ease;
        }
        &:before {
            margin-right: 4px;
            transform: scale(.96, .8) rotate(50deg);
        }
        &:after {
            transform: scale(.96, .8) rotate(-50deg);
        }
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        max-height: calc(var(--max-scroll) * 42px);
        top: 42px;
        left: 0;
        z-index: 1;
        right: 0;
        background: var(--listBackground);
        border-radius: 6px;
        overflow-x: hidden;
        overflow-y: auto;
        transform-origin: 0 0;
        transition: opacity .2s ease, visibility .2s ease, transform .2s cubic-bezier(.4, .6, .5, 1.32);
        transform: scale(.8) translate(0, 4px);
        border: 1px solid var(--listBorder);
        li {
            opacity: 0;
            transform: translate(6px, 0);
            transition: all .2s ease;
            a {
                cursor: pointer;
                display: block;
                padding: 10px 16px;
                color: var(--listText);
                text-decoration: none;
                outline: none;
                position: relative;
                transition: all .2s ease;
                &:hover {
                    color: var(--listTextActive);
                }
            }
            &.active {
                a {
                    color: var(--listTextActive);
                    background: var(--listActive);
                    font-weight: bold;
                    &:before,
                    &:after {
                        --scale: .6;
                        content: '';
                        display: block;
                        width: 10px;
                        height: 2px;
                        position: absolute;
                        right: 17px;
                        top: 50%;
                        opacity: 0;
                        background: var(--listText);
                        transition: all .2s ease;
                    }
                    &:before {
                        transform: rotate(45deg) scale(var(--scale));
                    }
                    &:after {
                        transform: rotate(-45deg) scale(var(--scale));
                    }
                    &:hover {
                        &:before,
                        &:after {
                            --scale: .9;
                            opacity: 1;
                        }
                    }
                }
            }
            &:first-child {
                a {
                    border-radius: 6px 6px 0 0;
                }
            }
            &:last-child {
                a {
                    border-radius: 0 0 6px 6px;
                }
            }
        }
    }
    &.filled {
        & > span {
            color: var(--textFilled);
        }
    }
    &.open {
        & > span {
            border-color: var(--borderActive);
            &:before,
            &:after {
                background: var(--arrowActive);
            }
            &:before {
                transform: scale(.96, .8) rotate(-50deg);
            }
            &:after {
                transform: scale(.96, .8) rotate(50deg);
            }
        }
        ul {
            opacity: 1;
            visibility: visible;
            transform: scale(1) translate(0, 12px);
            transition: opacity .2s ease, visibility .2s ease, transform .2s cubic-bezier(.4, .6, .5, 1.32);
            li {
                opacity: 1;
                transform: translate(0, 0);
                $i: 1;
                @while $i <= 10 {
                    $delay: $i * 70;
                    &:nth-child(#{$i}) {
                        transition-delay: #{$delay}ms;
                    }
                    $i: $i + 1;
                }
            }
        }
    }
}

select {
    --text: #3F4656;
    --border: #2F3545;
    --background: #151924;
    &.dropdown {
        padding: 9px 16px;
        border-radius: 6px;
        color: var(--text);
        border: 1px solid var(--border);
        background: var(--background);
        line-height: 22px;
        font-family: inherit;
        -webkit-appearance: none;
    }
}



// **************************
//          SWITCH
// **************************

.switch {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0.1rem;
    align-items: center;
    position: relative;
    cursor: pointer;
    //background-color: green;
    span{
        min-height: 20px;
        display: block;
        color: var(--color-lighter-grey);
        position: relative;
        white-space: nowrap;
        margin-left: 8px;
        transition: all .3s ease;
        &.active{
            color: var(--color-pink);
        }
    }
    input {
        display: none;
        & + span {
            padding-left: 38px;
            &:not(:empty) {
                padding-left: 38px + 8;
            }
            &:before,
            &:after {
                content: '';
                display: block;
                position: absolute;
                border-radius: 15px;
            }
            &:before {
                top: 5px;
                left: 0;
                width: 38px;
                height: 20px;
                border: 1px solid var(--color-light-grey);
                transition: all .3s ease;
            }
            &:after {
                width: 14px;
                height: 14px;
                background: var(--color-dark-blue);
                top: 9px;
                left: 3px;
                transition: all .45s ease;
            }
            & + svg {
                display: none;
            }
        }
        &:checked {
            & + span {
                &:before {
                    background: var(--color-dark-blue);
                    border-color: var(--color-dark-blue);
                }
                &:after {
                    background: #fff;
                    transform: translate(18px, 0);
                }
            }
        }
    }
    &:hover {
        input {
            & + span {
                &:before {
                    border-color: var(--color-dark-blue);
                }
            }
        }
    }
}