@import 'components/color-variables';

/*

    Pink: FC0254
    Dark blue: 0A193D
    Medium blue: 1C294A
    Light blue: 2b2f72
    Mid-grey: 6a7080

*/



* {
    box-sizing: border-box;
}

body {
    margin: 0;

    font-family: 'Lato', sans-serif;

    font-size:1rem;
    line-height: 1.8;

    display: grid;
    height: 100vh;
    grid-template-rows: 5rem 1fr auto;
}


/************ HEADER *************/
.nav-wrapper{
    padding: 0 10px;

    & .brand-logo{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size:1.6rem;
        font-family: 'Lato', sans-serif;
        cursor: pointer;

        color: #FFF;
        & .opus{color: color('pink', 'accent-3');}

        & img {
            height: 3rem;
            padding-right: 5px;
        }
    }

    li{
        font-family: 'Montserrat', sans-serif;
        padding: 0 0.5rem;
        & a{
            text-decoration:none;
            transition: all .3s ease;
            &:is(a:hover, a.highlight){
                color: color('pink', 'accent-3');
            }
        }

    }
}





/************ PATH *************/
c-path {
    background: var(--color-light-blue);
    color: var(--color-white-like);
    padding:0.5rem;
    line-height: 1;
}




/************ MAIN *************/
main {
    background: var(--color-white-like);

    & section{
        padding: 4rem 20%;

        &.light{
            background: var(--color-white-like);
            & p {color:var(--color-medium-grey);}
        }

        &.dark{
            background: var(--color-dark-blue);
            & p {color:var(--color-light-grey);}
        }
    }

}




/************ FOOTER *************/
footer {
    padding: 5rem 20%;
    background: var(--color-dark-blue);
    color: var(--color-medium-grey);
    font-size: 0.8rem;
}


footer logotext {
    display:block;

    color: var(--color-white-like);
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}
footer logotext .opus { color: var(--color-pink);}

c-footer-left img{height: 3rem;}


footer c-footer-right .footer_title{
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: var(--color-white-like);
}
footer c-footer-right ul{
    padding: 0;
    list-style-type:none;
    font-size: 0.9rem;
}